{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5">
    <h1>Список сторінок</h1>
    <p> Інформація про проект</p>
    <div class="row p-1">
        <a class="btn btn-primary col-2 m-1" href="/education">Education</a>
        <a class="btn btn-primary col-2 m-1" href="/bio">Bio</a>
        <a class="btn btn-primary col-2 m-1" href="/car">Car</a>
        <a class="btn btn-primary col-2 m-1" href="/facebook">Facebook</a>
        <a class="btn btn-primary col-2 m-1" href="/js">Js</a>
        <a class="btn btn-primary col-2 m-1" href="/mac">Mac</a>
        <a class="btn btn-primary col-2 m-1" href="/person">Person</a>
        <a class="btn btn-primary col-2 m-1" href="/program">Program</a>
        <a class="btn btn-primary col-2 m-1" href="/shopcart">Shopcart</a>
        <a class="btn btn-primary col-2 m-1" href="/shophome">Shophome</a>
        <a class="btn btn-primary col-2 m-1" href="/shoporder">Shoporder</a>
        <a class="btn btn-primary col-2 m-1" href="/shopproduct">Shopproduct</a>
        <a class="btn btn-primary col-2 m-1" href="/shopreview">Shopreview</a>
        <a class="btn btn-primary col-2 m-1" href="/skills">Skills</a>
        <a class="btn btn-primary col-2 m-1" href="/summary">Summary</a>
        <a class="btn btn-primary col-2 m-1" href="/task21">Task21</a>
        <a class="btn btn-primary col-2 m-1" href="/task22">Task22</a>
        <a class="btn btn-primary col-2 m-1" href="/task31">Task31</a>
        <a class="btn btn-primary col-2 m-1" href="/web">Web</a>
        <a class="btn btn-primary col-2 m-1" href="/work">Work</a>
    </div>

</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}