<section>
    <div class="card">
        <ul class="nav">
            {{#each navigation.links}}
            <li class="nav-item">
                <a class="nav-link active {{#if @last}} nav-link disabled {{/if}}" href="{{href}}">
                    {{text}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>